/*
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto Slab', serif;

colorhunt:
#1B262C
#0F4C75
#3282B8
#BBE1FA
*/
body {
  text-align: left;
}

p {
  font-family: 'Roboto Slab', serif;
  font-size: 1.3rem;
  line-height: 1.75;
}

h1, h2 {
  font-family: 'Roboto Slab', serif;
  padding: 10px 0;
  text-align: left;
}

h5 {
  color: #3282B8;
}

img, video {
  max-width: 100%;
  max-height: 100%;
}

.carousel img, .carousel video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Nav Bar */
.navbar {
  background-color: #1B262C;
}

.nav-link {
  font-size: 1.25rem;
  font-family: 'Roboto Slab', serif;
  color: #BBE1FA;
}

.bg-custom {
  background-image: linear-gradient(15deg, #0F4C75 0%, #1B262C 100%);
}

.name-spacing {
  padding: 0 0 3% 0;
  text-align: center;
}

/* Title Section */
#title {
  font-size: 1.5rem;
  background-color: #BBE1FA;
  padding: 7% 15%;
  color: #1B262C;
}

#title-carousel {
  height: 600px;
  width: 100%;
  object-fit: contain;
}

a.carousel-control-prev, a.carousel-control-next {
  height: 80px;
  width: 40px;
  top: 50%;
  border: 0 none;
  border-radius: 50%;
  color: #1B262C;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  height: 80px !important;
  width: 40px !important;
}

.carousel-indicators li {
  height: 10px !important;
}

.p-title {
  padding: 5% 0;
}

.title-qualities {
  text-align: center;
  padding: 5% 0;
}

.icon {
  width: 100px;
  height: 100px;
  filter: invert(23%) sepia(41%) saturate(1553%) hue-rotate(170deg) brightness(92%) contrast(93%);
  /* Hex code to filter command: https://codepen.io/sosuke/pen/Pjoqqp */
  margin: 25px 0;
}

.icon:hover {
  filter: invert(49%) sepia(62%) saturate(501%) hue-rotate(161deg) brightness(82%) contrast(95%);
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.title-image {
  max-width: 600px;
  max-height: 600px;
  border-radius: 10%;
}

.container-fluid {
  text-align: center;
}

/* Presentation */
#presentation {
  padding: 7% 10%;
  background-color: #3282B8;
  color: #1B262C;
}

#ena-carousel {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

#poly-carousel {
  height: 500px;
  width: 100%;
  object-fit: cover;
  margin-top: 25%;
}

.pres-image {
  max-width: 600px;
  max-height: 600px;
  border-radius: 10%;
  text-align: center;
}

.pres-caption {
  color: #BBE1FA;
}

.pres-div {
  text-align: left;
}

.presentation-subsection {
  padding: 25px 0;
}

/* Projects */
#projects {
  padding: 7% 3%;
  background-color: #BBE1FA;
  color: #1B262C;
}

video {
  border-radius: 10%;
}

.project-subtitle {
  text-align: center;
  padding: 25px 0;
}

.project-spacing {
  padding: 50px 15%;
}

.project-spacing h3 {
  padding: 0 0 25px;
  text-align: center;
}
.project-spacing h4 {
 padding: 0 0 25px;
}

.project-spacing p {
  text-align: left;
}

.project-text {
  padding: 25px auto;
}

.project-image {
  max-width: 500px;
  max-height: 400px;
  border-radius: 10%;
  background-color: white;
}

/* Skills */
#skills {
  padding: 7% 15%;
  background-color: #3282B8;
  color: #1B262C;
}

/* Hobbies */
#hobbies {
  padding: 7% 15%;
  background-color: #BBE1FA;
  color: #1B262C;
}

/* Contact */
#contact {
  padding: 7% 15%;
  background-color: #1B262C;
  color: #BBE1FA;
}

.contact-item {
  line-height: 2.5;
}

.links {
  color: #3282B8;
}

.links:hover {
  color: #7F9C95;
  text-decoration: none;
}

/* Footer */
#footer {
  padding: 5% 15%;
  background-color: #1B262C;
  color: #BBE1FA;
}
